@import '../../styles-global/variables.scss';

.profit {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  @media (min-width: $md) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  padding: 0 15px 40px;

  @media (min-width: $md) {
    padding: 0;
  }
}

.title {
  margin-bottom: 50px;

  @media (min-width: $sm) {
    margin-bottom: 60px;
  }

  @media (min-width: $md) {
    margin-bottom: 50px;
  }
}
