@import '../../styles-global/variables.scss';

.services {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: themeColor(bgClubsServices);
}

.wrapper {
  position: relative;
}

.title {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: $bold-font-weight;
  text-align: center;
  text-transform: uppercase;
  color: themeColor(textSectionListIconText);

  @media (min-width: $sm) {
    font-size: 57px;
  }

  @media (min-width: $md) {
    font-size: 60px;
  }
}

@media (min-width: 1024px) {
  .bgDecor::before {
    content: '';
    position: absolute;
    top: -45%;
    left: -15%;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/decor/4.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
