@import 'colors';

// Глобальные переменные
$main-font: 'Gotham Pro', Arial, Helvetica, sans-serif;
$main-font-bold: 'Gotham Pro Bold', Arial, Helvetica, sans-serif;

// Size
$main-font-size: 16px;
$main-line-height: 130%;
$bold-font-weight: 700;
$medium-font-weight: 400;

$border-radius: 51px; // 16px
$border-radius22: 22px; // 16px
$transition-base: 0.3s;

$w-size: 1440px;
$xxxs: 420px;
$xxs: 480px;
$xs: 576px;
$xsm: 767px;
$sm: 768px;
$md: 992px;
$xl: 1200px;
$lg: 1300px;
$xxl: 1440px;
$xlg: 1600px;
$xxlg: 1920px;
