@import '../../styles-global/variables.scss';

.tariffs {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: themeColor(bgTariffs);

  @media (min-width: $md) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.container {
  position: relative;

  @media (max-width: $md) {
    max-width: 100%;
  }
}

.inner {
  z-index: 2;
  position: relative;
  padding: 1rem 0;
}

.title {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: $bold-font-weight;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $sm) {
    font-size: 57px;
  }

  @media (min-width: $md) {
    font-size: 60px;
  }
}

.bgPic {
  position: absolute;

  &3 {
    z-index: 1;
    position: absolute;
    top: -75px;
    left: 65px;

    width: 200px;
    max-width: 100%;
    height: 200px;
    // animation: anim 4s infinite reverse;

    @media (min-width: $sm) {
      left: 30%;
      top: 0;
      left: 0;
    }

    @media (min-width: $xl) {
      top: auto;
      left: 45%;
      bottom: 10%;
    }

    @media (min-width: $xxl) {
      left: 75%;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 0;
      width: 300px;
      height: 300px;
      background-image: url('../../assets/images/profit/circle.png');
      background-size: contain;
      background-repeat: no-repeat;

      @supports (
        background-image: -webkit-image-set(url('../../assets/images/profit/circle.webp')
              1x)
      ) {
        background-image: url('../../assets/images/profit/circle.webp');
      }

      @media (min-width: $sm) {
        width: 420px;
        height: 420px;
      }
    }
  }

  &2 {
    z-index: 1;
    position: absolute;
    top: 35%;
    right: 12%;
    width: 237px;
    height: 237px;
    overflow: hidden;
    // animation: anim 4s infinite;

    @media (min-width: $sm) {
      top: 0;
      right: 10%;
    }

    @media (min-width: $md) {
      right: 0%;
    }

    @media (min-width: $xl) {
      top: 35%;
      right: 12%;
    }

    @media (min-width: $xxl) {
      top: 3%;
      right: 20%;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      width: 237px;
      height: 237px;
      background-image: url('../../assets/images/profit/ellipse2.png');
      background-size: contain;
      background-repeat: no-repeat;

      @supports (
        background-image: -webkit-image-set(url('../../assets/images/profit/ellipse2.webp')
              1x)
      ) {
        background-image: url('../../assets/images/profit/ellipse2.webp');
      }
    }
  }

  &1 {
    z-index: 1;
    display: none;
    position: absolute;
    top: 60%;
    left: 84%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    // animation: anim 4s infinite reverse;

    @media (min-width: $sm) {
      display: block;
      left: 0%;
      width: 408px;
      height: 408px;
    }

    @media (min-width: $md) {
      top: 60%;
      left: 5%;
    }

    @media (min-width: $xl) {
      top: 5%;
      left: 10%;
      width: 500px;
      height: 500px;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/profit/ellipse3.png');
      background-size: contain;
      background-repeat: no-repeat;

      @supports (
        background-image: -webkit-image-set(url('../../assets/images/profit/ellipse3.webp')
              1x)
      ) {
        background-image: url('../../assets/images/profit/ellipse3.webp');
      }
    }
  }
}

[data-theme='light-theme'] {
  .tariffs {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0;
  }
}
