@import '../../../styles-global/variables.scss';

.body {
  color: black;
}

.header {
  border: none;
  text-align: center;
  padding-top: 2rem;
}

.close {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;

  @media (min-width: $sm) {
    right: -30px;
    top: -10px;
  }
}

.title {
  margin: 0 auto;
  padding: 0 0.5rem;
  font-weight: $bold-font-weight;
  font-style: normal;
  font-size: 23px;
  line-height: normal;
  text-align: center;
  letter-spacing: -0.02em;
  color: #101828;
  text-transform: uppercase;

  @media (min-width: $xs) {
    font-size: 28px;
  }

  @media (min-width: $md) {
    font-size: 36px;
  }
}
