@import '../../styles-global/variables.scss';

.icon {
  display: block;
  margin-left: auto;
  margin-bottom: 1rem;
  width: 30px;
  height: 30px;
  fill: none;
  stroke-width: 1px;
  stroke: $secondary-color;

  @media (min-width: $xl) {
    display: none;
  }
}
