@import '../../styles-global/variables.scss';

.footer {
  position: relative;
  margin-top: auto;
  background-color: themeColor(bgFooter);
  color: themeColor(colorFooter);
  opacity: themeColor(bgFooterOpacity);
}

.link {
  color: themeColor(colorFooterLink);

  &:focus,
  &:hover {
    color: themeColor(colorFooterLinkHover);
  }
}
