@import '../../../styles-global/variables.scss';

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 1rem;

  @media (min-width: $md) {
    gap: 40px;
    width: 60%;
    margin-top: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-right: auto;
  border: 1px solid themeColor(borderSectionListIconText);
  border-radius: 10px;
}

.itemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: themeColor(textSectionListIconText);

  @media (min-width: $xs) {
    width: 70px;
    height: 70px;
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}

.itemInner {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px - 20px);

  @media (min-width: $xs) {
    width: calc(100% - 70px - 20px);
  }
}

.itemTitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: themeColor(titleSectionListIconText);
  text-transform: uppercase;

  @media (min-width: $sm) {
    font-size: 20px;
  }
}

.itemText {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: themeColor(textSectionListIconText);

  @media (min-width: $sm) {
    font-size: 1rem;
  }
  @media (min-width: $xl) {
    font-size: 1.2rem;
  }
}
