@import '../../styles-global/variables.scss';

.tariff {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2px;
  max-width: 360px;
  height: 100%;

  background: themeColor(bgTariff);
  border-radius: themeColor(borderRadiusTariff);
  transition: $transition-base;
  color: themeColor(textTariff);
  font-size: 16px;

  @media (min-width: $sm) {
    max-width: 320px;
    width: 450px;
    font-size: 14px;
  }

  @media (min-width: $xl) {
    width: auto;
  }

  @media (min-width: $xxl) {
    max-width: 395px;
    font-size: 16px;
  }

  &:hover {
    background: themeColor(bgGradientRadial);
    transition: $transition-base;
    animation: rotate-position 6s infinite linear;

    @media (min-width: $md) {
      transform: scale(1.02);
    }

    & .button {
      & span {
        color: themeColor(textTariffBtn);
        background: themeColor(bgGradient);
      }
    }
  }
}

.active {
  // background: themeColor(bgGradient);
  background: themeColor(bgTariffActive);

  &:hover {
    background: themeColor(bgGradientRadial);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  padding: 30px 20px;
  border-radius: themeColor(borderRadiusTariff);
  background: themeColor(bgTariff);

  @media (min-width: $xs) {
    padding: 24px 20px;
  }

  @media (min-width: $xxl) {
    gap: 20px;
  }

  @media (min-width: $xxlg) {
    padding: 30px;
  }
}

.title {
  font-weight: $bold-font-weight;
  text-align: center;
  text-transform: uppercase;
}

.price {
  text-align: center;
  position: relative;

  font-weight: $bold-font-weight;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;

  @media (min-width: $xs) {
    font-size: 54px;
  }
  @media (min-width: $md) {
    font-size: 47px;
  }

  & small {
    margin-left: 0.5rem;
    font-weight: $bold-font-weight;
    font-size: 13px;
    line-height: 19px;
    color: #bebed1;

    @media (min-width: $sm) {
      line-height: 22px;
    }

    @media (min-width: $md) {
      line-height: 24px;
    }
  }
}

.link {
  z-index: 0;
  position: relative;
  $size: 2px;
  margin: 2% 0;
  padding: 1rem 1.6rem;
  color: $white;
  background: themeColor(bgGradient);

  font-size: 1.2rem;
  font-weight: $bold-font-weight;
  text-align: center;
  text-transform: lowercase;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: $size;
    left: $size;
    width: calc(100% - $size * 2);
    height: calc(100% - $size * 2);
    border-radius: inherit;
    background: transparent;
  }

  &:active,
  &:hover {
    color: inherit;

    &::before {
      background: themeColor(bgTariff);
    }
  }

  &[data-outline='false'] {
    color: themeColor(textTariffBtn);
    background: themeColor(bgGradient);

    &::before {
      background: themeColor(bgTariff);
    }

    &:active,
    &:hover {
      color: $white;
      background: themeColor(bgTariff);

      &::before {
        background: themeColor(bgGradient);
      }
    }
  }
}

@keyframes rotate-position {
  from {
    background-position: -1000px;
  }

  to {
    background-position: 0;
  }
}
